/*---------- LOGIN ----------*/

.loginModal .modal-content, .signupModal .modal-content{ background-color: transparent;}

.yarraa-login {
	display: table;
	position: relative;
	width: 100%;
	height: 100%;
}
.login-content {
	display: table-cell;
	vertical-align: middle;
	padding: 1em;
}
.login-form {
	max-width: 520px;
	margin: 0 auto;
}
.login-form-header { padding: 2em 0 0; background-color: #f1f1f1;}
.signupModal .login-form-header{ background-color:#f1f1f1; }
.signupModal .login-form-main{ background-color:#f1f1f1; }
.signupModal .login-form-footer{background-color:#f1f1f1;}
.login-form-main { padding: 2em; background-color: #f1f1f1;}
.login-form-footer { background-color: #f1f1f1; padding: 2em 4em;}
.login-form .form-control, .login-form .btn-block { height: 45px; border-radius: 0;}
.login-form .btn-block { 
	background-color: #5b3d21; 
	border-radius:5px;
	border-color: #5b3d21; 
	color: #fff; 
	font-weight: 700; 
	font-size: 1.15em;
	-webkit-transition: background-color 300ms linear;
	-moz-transition: background-color 300ms linear;
	-o-transition: background-color 300ms linear;
	-ms-transition: background-color 300ms linear;
	transition: background-color 300ms linear;
}
.login-form .btn-block:hover, 
.login-form .btn-block:focus {
	background-color: #5b3d21; 
	border-radius:5px;
	border-color: #5b3d21; 
	color: #fff;
}
.login-form .fa {
	font-size: 10pt;
	color: #352614;
	border-radius: 50%;
	background-color: #fff;
	padding: 5px;
	margin-right: 7px;
}
.login-form .fa-unlock-alt { border-radius: 50%; padding: 5px 8px;}
.login-form-reset, .login-form-register, 
.login-form-reset:hover,
.login-form-register:hover,
.login-form-reset:focus,
.login-form-register:focus { color: #5b3d21;}
.closeButton{z-index: 1; position: absolute; right: 3px; top: -10px; border: none; outline:none; background: none; color: #333; font-size: 30px;}
.signupModal .closeButton{z-index: 1; position: absolute; right: 3px; top: -10px; border: none; outline:none; background: none; color: #333; font-size: 30px;}

.modal-dialog{ background-color:#f1f1f1; border-radius:10px;} 
#signupModal .modal-dialog{ width:750px; background-color:#f1f1f1; border-radius:10px;}
#signupModal h5, #signupModal h4, #signupModal a{color:#5b3d19}
#signupModal .login-form button{ border-radius:5px; background-color:#5b3d21;}